[
 {:paramita/id :generosity
  :orb "🟡"
  :emoji "🟡"
  :tp-emoji "📤😄"
  :tp "pana pona"
  :zh "予"
  :sense "Offering, releasing, open-handedness."}
 {:paramita/id :virtue
  :orb "🔵"
  :emoji "🔵"
  :tp-emoji "😄👴"
  :tp "pona lawa"
  :zh "正"
  :sense "Uprightness, integrity, moral clarity."}
 {:paramita/id :renunciation
  :orb "⚪"
  :emoji "⚪"
  :tp-emoji "🎐🐺"
  :tp "weka wile"
  :zh "无"
  :sense "Letting go, non-grasping, spaciousness."}
 {:paramita/id :discernment
  :orb "🟠"
  :emoji "🟠"
  :tp-emoji "🐲☝️"
  :tp "sona suli"
  :zh "习"
  :sense "Insight, cultivated understanding, wisdom."}
 {:paramita/id :persistence
  :orb "🟤"
  :emoji "🟤"
  :tp-emoji "🌅🚴"
  :tp "awen pali"
  :zh "功"
  :sense "Effort, sustained action, diligence."}
 {:paramita/id :endurance
  :orb "⚫"
  :emoji "⚫"
  :tp-emoji "🌅💗"
  :tp "awen pilin"
  :zh "久"
  :sense "Patience, forbearance, long-time staying power."}
 {:paramita/id :truth
  :orb "🟣"
  :emoji "🟣"
  :tp-emoji "💬🙇"
  :tp "toki lon"
  :zh "白"
  :sense "Purity, directness, reality-aligned articulation."}
 {:paramita/id :good-will
  :orb "🟢"
  :emoji "🟢"
  :tp-emoji "💑🌏"
  :tp "olin ale"
  :zh "仁"
  :sense "Metta, benevolence, universal friendliness."}
 {:paramita/id :equanimity
  :orb "🔮"
  :emoji "🔮"
  :tp-emoji "💗👯"
  :tp "pilin sama"
  :zh "平"
  :sense "Balance, unshakable mind, evenness with all phenomena."}
 {:paramita/id :determination
  :orb "🔴"
  :emoji "🔴"
  :tp-emoji "⚡️🐺"
  :tp "wawa wile"
  :zh "力"
  :sense "Resolve, directed strength, commitment."}
]
